<div class="footer">
    <div class="containerFooter">
        <p class="footerTitle">About us</p>
        <div class="containerFooterInfos">
            <p class="footerInfos">TIPS FOR EARTH est un site de conseils écologique pour tous. Les petits gestes du quotidien sont essentiels à la protection de l'environnement de notre santé. <br>À vous de jouer!</p>
            <p style="margin-top:18px;">Copyright Tips For Earth {{"now"|date('Y')}}</p>
        </div>
        <p class="footerTitle">About us</p>   
    </div>
</div>