<div class="main-header__content">
	<h1 class='main-header__our-mission'>NOTRE MISSION</h1>
	<p>Tu t’es toujours demandé ce que tu pouvais faire pour l’environnement, sans pour autant que ce soit quelque chose d’impossible à faire ?
		Tips for Earth te donne tous les jours des petits tips simples et efficaces pour faire des gestes pour la planète au quotidien. 
		Tu pourras aussi découvrir plein d’article sur l’état actuel du climat et quelles sont les conséquences ainsi que les solutions possibles pour les résoudre.
		Jete un oeil à nos catégories !
		</p>
	<div class='main-header__buttons'>
		<a class='standard-button' href="{{site.url}}/lieux">Par lieux</a>
		<a class='standard-button' href="{{site.url}}/types">Par types</a>
	</div>
</div>