<div class="wrapper">
  <nav id="nav-main" class="nav-main" role="navigation">
  {% if menu %}
    <ul>
      {% for item in menu.get_items %}
        <li class="{{ item.classes | join(' ') }}">
          <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          {% include "partials/menu.twig" with {'menu': item.get_children} %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </nav><!-- #nav -->
</div>