<div class="number">
    <div class="infoUn">{{ number.nombre }}</div>
    </br>
    <div class="infoDeux">{{ number.indication }}</div>
    <br/>
    <div class="infoTroi">{{ number.description }}</div>
</div>