{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<menu class="menu" >
			{% include 'partials/header.twig' %}
		</menu>

		<section id="header" role="home" class="home-section">
			{% block header %}
			{% endblock %}
		</section>

		<section id="content" role="main" class="standard-section">
				{% block content %}
					Sorry, no content
				{% endblock %}
		</section>

		<footer id="footer">
			{% include 'partials/footer.twig' %}
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>
