{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
{% endblock %}
	<pre>
		{{ dump(site) }}
	</pre>
	<body class="{{body_class}}" data-template="base.twig">
		<menu class="menu" >
			{% include 'partials/header.twig' %}
		</menu>

		<section id="content" role="main" class="standard-section">
				{% block content %}
					Sorry, no content
				{% endblock %}
		</section>

		<footer id="footer">
			{% include 'partials/footer.twig' %}
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>
