{% extends 'base.twig' %}

{% block content %}
	<section class='numbers'>
		<h1 class='standard-h1'>Les différentes catégories :</h1>
		{% for el in taxonomies %}
		<div class='section-posts tease-post '>
      <h3 class='standard-h3'> {{ el.title }} </h3>
	  {% include 'partials/tease-post.twig' with { post: post} %}

	  </div>
		{% endfor %}
	</section>
{% endblock %}
