{% extends 'base.twig' %}

{% block content %}
	<section class='numbers'>
		<h1>Les différentes catégories :</h1>
		{% for el in taxonomies %}
      {{ el.title }}
		{% endfor %}
	</section>
{% endblock %}
