{% extends 'base.twig' %}

{% block content %}
	<section class='terms-cards'>
		<h1 class='standard-h1 term-h1'>Les différentes catégories :</h1>
		{% for el in taxonomies %}
		<div class='term-card tease-post'>
			<div class='tease-post__img'><img src='{{ el.image.url}}' /> </div>
      			<h3 class='standard-h3'> {{ el.title }} </h3>
	  			<p class="tease-post__preview"> {{ el.description }} </p>
			<div class="standard-button_position">	
				<a href="#" class='standard-button'>Voir plus</a>
			</div>
	  	</div>
		{% endfor %}
	</section>
{% endblock %}
