{% extends "base.twig" %}

{% block header %}
	<section class="main-header">
				{% include 'partials/hero-section.twig' %}
	</section>
	<div class='standard-section--green-background'>
		<div class='standard-section'>
			<section class='last-tips'>
				{% include 'partials/tease-tips.twig' with { tips: last_tips, terms: terms_of_last_tips } %}
			</section>

			<section class='numbers'>
				<h3 class='TitreNombre'>Quelques Chiffres </h3>
				<section class="numbersSection">
				{% for nbr in last_numbers %}
					{% include 'partials/single-number.twig' with { number: nbr } %}
				{% endfor %}
				</section>
			</section>
		</div>
	</div>
{% endblock %}

{% block content %}
	<h1 class='standard-h1'>Nos derniers articles</h1>
	<section class='section-posts'>
		{% for article in last_articles %}
			{% include 'partials/tease-post.twig' with { post: article } %}
		{% endfor %}
	</section>
	
	{# {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} #}
{% endblock %}
 