{% extends "base.twig" %}

{% block content %}
	<section class='hero-section'>
		{% include 'partials/hero-section.twig' %}
	</section>

	<section class='last-tips'>
		{% include 'partials/tease-tips.twig' with { tips: last_tips} %}
	</section>

	<section class='numbers'>
		<h1>Today's numbers :</h1>
		{% for nbr in last_numbers %}
			{% include 'partials/single-number.twig' with { number: nbr} %}
		{% endfor %}
	</section>

	<section class='articles'>
		<h1>Last articles :</h1>
		{% for article in last_articles %}
			{% include 'partials/tease-post.twig' with { post: article} %}
		{% endfor %}
	</section>
	
	{# {% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %} #}
{% endblock %}
