{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
    <section class='featured-post'>
		  {% include 'partials/tease-featured-post.twig' with { post: featured_post} %}
	  </section>

		<h1 class='standard-h1'>Nos articles plus anciens</h1>

		<section class='section-posts'>
		{% for post in all_posts %}
			{% include 'partials/tease-post.twig' with { post: post} %}
		{% endfor %}
		</section>
	</div>
{% endblock %}