{% extends "base.twig" %}

{% block content %}
		<h1 class='standard-h1'>Les tips dans la catégorie {{ taxonomy.name }}</h1>

		{% for singleTips in tips %}
			{% include 'partials/tease-tips.twig' with { tips: singleTips} %}
		{% endfor %}
{% endblock %}
