
body {
  font-family: 'Lato', sans-serif;
  color: #1A1A1A;
}

.standard-section {
  margin: 66px 176px 0 176px;
}

.standard-h1 {
  font-size: 36px;
}

.standard-h3 {
  font-size: 24px;
}

.standard-p {
  font-size: 16px;
}

@import './tips-card';