/*************************

    TEASE FEATURES POST

*************************/

.tease-featured-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.tease-featured-post__infos {
  margin: 24px 0;
}

.tease-featured-post__img {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.tease-featured-post__img > img {
  width: 100%;
}

.tease-featured-post__preview {
  margin: 24px;
  width: 90%;
  line-height: 150%;
}

.tease-featured-post__link {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  color: #08CEAE;
  font-weight: bold;
}

.tease-featured-post__link > div {
  background: #4A4A4A;
  width: 40%;
  height: 1px;
}

/*************************

        TEASE POST

*************************/

.section-posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 48px 0;
}

.tease-post {
  max-width: 48%;
  min-height: 600px;
  margin-bottom: 24px;
  border-bottom: 1px solid #00000040;
  border-radius: 8px 8px 0 0;
  transition: 1s all;
}

.tease-post:hover {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.tease-post__img {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background-image: linear-gradient(to right, rgb(0, 205, 172), rgb(141, 218, 213));
}

.tease-post__img > img {
  align-self: center;
  width: 100%;
}

.tease-post__text-content {
  position: relative;
  height: calc(100% - 300px);
  padding: 16px;
}

.tease-post__terms {
  margin: 8px 0;
  color: #08CEAE;
  font-weight: bold;
}

.tease-post__preview {
  margin-top: 16px;
  line-height: 150%;
}

.tease-post__infos {
  position: absolute;
  bottom: 16px;
  left: 16px;
}