/********************

      TEASE TIPS

********************/

.tips__card {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 8px;
  margin-top: 42px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.tips__card--tease {
  min-height: 200px;
}

.tips__card__img {
  display: flex;
  max-width: 200px;
  min-height: 200px;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(0, 205, 172), rgb(141, 218, 213));
}

.tips__card__img > img {
  align-self: center;
  width: 200px;
}


.tips__card__text-container {
  position: relative;
  min-height: 200px;
  width: 100%;
  padding: 24px; 
}

.tips__card__tags {
  position: absolute;
  top: 24px;
  right: 24px;
}

.tips__card__accroche {
  margin-top: 24px;
}

.tips__card__button {
  position: absolute;
  bottom: 24px;
  display: flex;
  width: 110px;
  justify-content: space-between;
  color: #4A4A4A;
}

.tips__card__button > input {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: #4A4A4A 1px solid;
  cursor: pointer;
}

.tips__card__stats {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.tips__card__stats__block {
  display: flex;
  align-items: center;
}

.tips__card__stats__block img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.numbers
{
  margin-top: 50px;
}

.participation
{
  margin-top: 50px;
  text-align: center;
}

.participationBtn
{
  margin-top: 50px;
  width: 180px;
  height: 50px;
  background: linear-gradient(to right, #00CDAC, #8DDAD5);
  border-radius: 25px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}